<%= form_for([@post, @post.comments.build]) do |f| %>
  <fieldset>
    <%= f.label :commenter %>
    <%= f.text_field :commenter %>
    <%= f.label :body %>
    <%= f.text_area :body %>
    <div class="actions">
      <%= f.submit :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
