<% if !notice.nil? %>
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <%= notice %></p>
</div>
<% end %>

<h2><%= @post.title %></h2>

<p>
  <%= @post.content %>
</p>

<p class="lead">Comments</p>
<% if @post.comments.empty? %>
  <p>Looks like there aren't any comments yet. Why not make one?</p>
<% else %>
  <%= render @post.comments %>
<% end %>
 
<p class="lead">Leave a reply</p>
<%= render "comments/form" %>

<%= link_to 'Edit Post', edit_post_path(@post) %> |
<%= link_to 'Back to Posts', posts_path %>
